<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>

<h1>Livros</h1>

<table>
<tfoot>
  <tr>
    <td colspan="3">
      <%= link_to 'Novo Livro', new_product_path %>
    </td>
  </tr>
</tfoot>
<tbody>
  <% @products.each do |product| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="image">
        <% if product.has_photo? %>
          <%= image_tag(product.photo_path, class: 'list_image') %>
        <% else %>
          Nenhuma imagem
        <% end %>
      </td>

      <td class="description">
        <h1><%= product.title %></h1>
        <p>
          <%= truncate(strip_tags(product.description),
                       length: 80) %>
        </p>
      </td>

      <td class="actions">
        <ul>
          <li><%= link_to 'Exibe', product %></li>
          <li><%= link_to 'Editar', edit_product_path(product) %></li>
          <li>
            <%= link_to 'Destruir',
                         product, 
                        method: :delete,
                        data: { confirm: 'Tem certeza?' } %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
</tbody>
</table>